.App {
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.App header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  padding: 12px;
  font-size: 1.2em;
}

.btn-container {
  display: flex;
  gap: 12px;
  justify-content: flex-end;
}

.dark {
  background-color: #00111a;
  color: #f2e9e4;
}

.light {
  background-color: #f2e9e4;
  color: #00111a;
}

.dark button,
.dark .todo-author {
  background-color: #163d52;
  color: #f2e9e4;
}

.light button,
.light .todo-author {
  background-color: #cd652d;
  color: #f2e9e4;
}

.dark button:active {
  background-color: #0d2430;
}

.light button:active {
  background-color: #fc8c5d;
}

.light button:hover,
.light input:hover,
.light input:focus {
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 3px 1px;
}

.dark button:hover,
.dark input:hover,
.dark input:focus {
  box-shadow: rgba(255, 255, 255, 0.5) 0 0 3px 1px;
}

.todo-list-main {
  padding: 18px;
  margin: 24px;
  border-radius: 18px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.todo-list {
  display: flex;
  flex-direction: column;
  padding: 8px;
  gap: 18px;
}

.todo-item {
  padding: 24px;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.todo-item-title {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
}

.todo-title {
  font-size: 1.1em;
}

.todo-author {
  font-size: 1.05em;
  border-radius: 6px;
  padding: 3px 6px;
}

.dark .todo-item {
  background-color: #072535;
}

.light .todo-item {
  background-color: #e1c7b6;
}

.dark .todo-list-main,
.dark .todo-item-title,
.dark header {
  background-color: #001824;
}

.light .todo-list-main,
.light .todo-item-title,
.light header {
  background-color: #ebd8cd;
}
